/* Body and layout styles */
body {
  background-color: #4B0082;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
}

/* Timer display styles */
#timer {
  font-size: 7rem;
  font-weight: 700;
  -webkit-text-stroke: 2px #000;
  color: white;
  width: 600px;
  text-align: center;
  margin: 40px auto;
}

/* Buttons container */
#buttons {
  display: flex;
  justify-content: center;
}

/* Button styles */
button {
  background-color: #0000FF;
  color: white;
  border: 2px solid #FFF;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 4rem;
  margin: 1rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

/* Button hover styles */
button:hover {
  background-color: #FF0000;
  color: white;
  border: 2px solid #FFFF00;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Disabled button styles */
button[disabled] {
  opacity: 0.5;
  cursor: default;
}

/* Mobile responsive styles */
@media (max-width: 800px) {
  #timer {
    font-size: 4rem;
    width: 350px;
  }

  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}