*{
    margin: 0;
     padding: 0;
     box-sizing: border-box;
     user-select: none;
}

.bg-img{
    background: url(images/background.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.bg-img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 30px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}
.content header{
    color: rgb(39, 243, 243);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 35px ;
    font-family: 'Montserrat', sans-serif;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
.field i{
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.space{
    margin-top: 15px;
}
.show{
    position: absolute;
    right: 10px;
    font-weight: 700;
    font-size: 13px;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.pass-key:valid ~ .show{
    display: block;
}
.pass{
    text-align: left;
    margin: 10px 0 ;
}
.pass a{
font-size: 13px;
color: white;
text-decoration: none;
font-family: 'Poppins', sans-serif;
}
.pass a:hover{
    text-decoration: underline;
}
.field input[type="submit"]{
    background: #063ea6;
    border: 1px solid #041e4e;
    color: rgb(255,255,255);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}
.field input[type="submit"]:hover{
    background: #5885da;
}
.login{
    color: #ffffff;
    margin: 20px 0px;
    font-family: 'Poppins', sans-serif;
}
.links
{
    display: flex;
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.facebook,.gmail{
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
}
.facebook{
    margin-left: 0;
    background: #043495;
    border: 1px solid #477dea;
    border-radius: 10px;
}
.gmail{
    background: #e63f3f;
    border: 1px solid #570808;
    border-radius: 10px;
}
.facebook:hover{
    background: #3c77ec;
}
.gmail:hover{
    background: #c73e3e;
}
.links i{
    font-size: 17px;
}
i span{
margin-left: 8px;
font-weight: 500;
letter-spacing: 1px;
font-size: 16px;
font-family: 'Poppins', sans-serif;
}

.signup{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.signup a{
    color: #200eec;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
    color: red;
}